<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <p>
            <h1>Record Report</h1>
        </p>
        <p>
            <h2>Paper Size: {{paper_size}}</h2>
        </p>
        <p>
            <h2>rid: {{rid}}</h2>
            <h2>mid: {{mid}}</h2>
        </p>
        <p>
            <h3>Record Body 0</h3><br>
            <h3>Record Body 1</h3><br>
            <h3>Record Body 2</h3><br>
            <h3>Record Body 3</h3><br>
            <h3>Record Body 4</h3><br>
            <h3>Record Body 5</h3><br>
            <h3>Record Body 6</h3><br>
            <h3>Record Body 7</h3><br>
            <h3>Record Body 8</h3><br>
            <h3>Record Body 9</h3><br>
            <h3>한글 테스트</h3><br>
        </p>
        <p>
            <h2>Record Report</h2>
        </p>
    </body>
</html>